<h1>Editing valordose</h1>

<%= render "form", valordose: @valordose %>

<br>

<div>
  <%= link_to "Show this valordose", @valordose %> |
  <%= link_to "Back to valordoses", valordoses_path %>
</div>
