<p style="color: green"><%= notice %></p>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <h1><i class="fas fa-money"></i> Valor da Dose</h1>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div id="valordoses" class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @last_valordose %>
        <%= render @last_valordose %>
      <% else %>
        <p>No valordoses available.</p>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <%= link_to "Criar valor dose", new_valordose_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
